@model MVCForum.Website.ViewModels.CreateTopicButtonViewModel
@if (Model.LoggedOnUser != null && Model.LoggedOnUser.DisablePosting != true && Model.UserCanPostTopics)
{
    <style>
        @@media (max-width: 991px) {
            body.loggedin-true .main-section {
                padding-top: 62px;
            }
        }
    </style>
    <div class="createtopicbutton">
        <a href="@Url.Action("Create", "Topic")" class="btn-mvc-green btn-mvc-large btn-mvc-fullwidth">
            @Html.LanguageString("Layout.CreateButton")
        </a>
    </div>
}
